
images/*
ssd_mobilenet_v1_coco_2018_01_28/*
export graph.txt
generate_tfrecord.bat
generate_tfrecord.py
Instruction for Custom Object Detection.txt
Instruction for TensorFlow .txt
ScreenRecord of the project.webm
test.mp4
train.py
training.bat
xml_to_csv.bat
xml_to_csv.py